---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="title">Maria's Portfolio</div>
		<button type="button" class="graphic-design btn">Graphic Design</button>
		<button type="button" class="art-and-music btn">Art & Music</button>
		<button type="button" class="branding btn">Branding & Marketing</button>
		<button type="button" class="architecture btn">Architecture</button>
		<Footer />
	</body>
</html>


<style>
	body{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
background-image: url("file:///Users/mariadarocha/Downloads/nnnoise%20(1).svg");
font-weight:200;
  font-size: 50px;

}
	
.title{
	color: #AAB7FF;
	background-color: #EFF1FF;
	padding: auto;
  border-radius: 50px;
  padding: 27px 80px 27px 80px;
  text-align: center;
  box-shadow: -1px 2px 4px #e8e8e8;
  position: absolute;
  left: 600px;
  top:400px;

}

.btn {
	border: none;
	color: #AAB7FF;
	background-color: #EFF1FF;
	border-radius: 80px;
  padding: 20px 60px 20px 60px;
    box-shadow: -1px 2px 4px #e8e8e8;
  font-size: 30px;
  font-family: 'Inter';
  font-weight: 250;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #AAB7FF;
  box-shadow: -2px 4px 4px #e8e8e8;
  color: #EFF1FF;
  transform: scale(1.1);

}

.architecture{
	position: absolute;
	top: 750px;
	left: 1250px;
}

.graphic-design{
	position: absolute;
	top: 130px;
	left: 250px;
}


.art-and-music{
	position: absolute;
	top: 165px;
	left: 1200px;
}

.branding{
	position: absolute;
	top: 680px;
	left: 190px;
}
</style>