---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="title">Maria's Portfolio</div>
	</body>
</html>


<style>
	body{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
background-image: url("file:///Users/mariadarocha/Downloads/nnnoise%20(1).svg");

}
	
.title{
	color: #AAB7FF;
	background-color: #EFF1FF;
	padding: auto;
  font-size: 1rem;
  border-radius: 50px;
  min-height: 100px;
  min-width: 420px;
  font-weight:200;
  font-size: 35px;
  padding-top: 26px;
  text-align: center;
  box-shadow: -2px 4px 5px #C2C2C2;
  position: absolute;
  left: 660px;
  top:375px;

}
</style>