---

---
<footer>
    <p>Designed & Developed by Maria</p>
</footer>

<style>
    footer {
        position:absolute;
        top: 910px;
        left: 780px;
        font-size: 11px;
        letter-spacing: 0;
        color: #9BAAFF;
    }
</style>